streamlit==1.36.0

crewai
crewai-tools

langchain
langchain-community

litellm>=1.44.22

python-dotenv

duckduckgo-search
ddgs

chromadb==0.4.24

pydantic>=2.4.2

numpy<2

setuptools>=70.0.0
wheel
rich